.DS_Store
/DataProcessingDocumentation/*/*/*.ipynb_checkpoints
/DataProcessingDocumentation/*/*/*/*.ipynb_checkpoints
/DataProcessingDocumentation/*/*/*/*/*.ipynb_checkpoints
DataProcessingDocumentation/*/*/*/*/*/*.ipynb_checkpoints

/DataProcessingDocumentation/*/*.xlsx
/DataProcessingDocumentation/*/*/*.xlsx
/DataProcessingDocumentation/*/*/*/*.xlsx
/DataProcessingDocumentation/*/*/*/*/*.xlsx

/DataProcessingDocumentation/*/*.nc
/DataProcessingDocumentation/*/*/*.nc
/DataProcessingDocumentation/*/*/*/*.nc
/DataProcessingDocumentation/*/*/*/*/*.nc

/DataProcessingDocumentation/*/*.csv
/DataProcessingDocumentation/*/*/*.csv
/DataProcessingDocumentation/*/*/*/*.csv
/DataProcessingDocumentation/*/*/*/*/*.csv
*.jupyterlab-workspace
*.jupyterlab-workspace
DataProcessingDocumentation/2. EcoFOCI_DataProcesssing_Records/.jupyter/desktop-workspaces/default-37a8.jupyterlab-workspace
